<template>
  <div>
    <div>
<!--      так мы выводим переменные из data-->
      <p>{{ number }}</p>
      <p>{{ numberTwo }}</p>
      <hr/>
<!--      пример компонента text и number - это props-->
      <button-add @AddNumber="addNumberComp" text="add number - "   :number="1"/>
      <button-add @AddNumber="addNumberComp" :number="5"/>
      <button @click="delNumber">del</button>
    </div>
  </div>
</template>

<script>
// имортируем компонент
import ButtonAdd from '@/components/ButtonAdd'
export default {
  name: 'Index',
  data() {
    return {
      mes: 'Hello vue',
      number: 0
    }
  },
  // тут мы пишем обычные функции
  methods: {
    addNumberComp (num) {
      this.number += num
    },
    delNumber () {
      this.number --
    }
  },
  // вычесляемые свойства
  computed: {
    numberTwo () {
      return this.number * 2
    }
  },
  // наблюдатели за свойствами
  watch: {
    number (value) {
      if (value === 5) alert(1)
      console.log(value)
    }
  },
  // жизненный цикл
  // mounted() {
  //   alert('mounted')
  // },
  // created() {
  //   alert('created')
  // },
  // тут мы регестрирует компоненты
  components: {
    ButtonAdd
  }
}
</script>

<style scoped>

</style>