<template>
  <div>
    <TitleClick title="number" />
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
    <TitleClick  title="string" />
    <ul>
      <li>a</li>
      <li>b</li>
      <li>c</li>
    </ul>
  </div>
</template>

<script>
import TitleClick from '@/components/TitleClick'
export default {
  name: 'List',
  components: {
    TitleClick
  }
}
</script>

<style scoped>

</style>