<template>
  <div>
    <h2>{{ news.title }}</h2>
    <img :src="news.image" alt="">
    <p v-html="news.text"></p>
  </div>
</template>

<script>
export default {
  name: 'NewsDetail',
  data() {
    return {
      news: {}
    }
  },
  mounted() {
    fetch(`https://back-elets.admlr.lipetsk.ru/news/${this.$route.params.id}/`)
        .then((res) => {
          console.log(res)
          return res.json()
        })
        .then((data) => {
          this.news = data
        })
  }
}
</script>

<style scoped>

</style>