<template>
  <div>
    <h2>News</h2>
    <section class="wrapper-news">
        <news-block v-for="item in news" :key="`news${item.id}`" :newsInfo="item"/>
    </section>
  </div>
</template>

<script>
import News from '@/components/news/News'
export default {
  name: 'News',
  data() {
    return {
      news: []
    }
  },
  methods: {
    getData () {
      fetch('https://back-elets.admlr.lipetsk.ru/news/all/')
          .then((res) => {
            console.log(res)
            return res.json()
          })
          .then((data) => {
            console.log(data)
            return data
          })
          .then((data) => {
            this.news = data
          })
    }
  },
  mounted() {
    this.getData()
  },
  components: {
    'news-block': News
  }
}
</script>

<style scoped lang="scss">
.wrapper-news{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
</style>