<template>
  <section>
<!--    @submit - событие формы при нажатии на кнопку-->
<!--    .prevent - сброс стандартного действия-->
<!--    v-model="title" - привязка интпута к переменной -->
    <form @submit.prevent="AddTodo" class="add">
      <input type="text" v-model="title">
      <input type="submit" value="add">
    </form>
    <hr/>
<!--    v-show - условие, чтобы скрыть компонент-->
<!--    v-for="(todo, i) in todos - цикл по массиву todos-->

    <div v-show="todos.length !== 0" class="list">
      <div v-for="(todo, i) in todos" :key="`todo${i}`" class="list__item">
        <p>{{ i + 1 }}) {{ todo.title }}</p>
        <button @click="delTodo(i)">del</button>
      </div>
    </div>
    <p v-show="todos.length === 0">Добавьте todo</p>
  </section>
</template>

<script>
export default {
  name: "Todo",
  data() {
    return {
      todos: [],
      title: ''
    }
  },
  methods: {
    AddTodo () {
      if (this.title.trim()) {
        this.todos.push({
          title: this.title,
          id: new Date().toString()
        })
        this.title = ''
      }
    },
    delTodo (index) {
      this.todos.splice(index, 1)
    }
  },
  mounted() {
    let dataTodo = [
      {
      id: 0,
      title: 'test1'
    },
      {
        id: 1,
        title: 'test2'
      },
      {
        id: 2,
        title: 'test3'
      }]
    setTimeout(() => {
      this.todos = dataTodo
    },2000)
  }
}
</script>

<style scoped>
.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  border: 1px solid green;

}
</style>