<template>
  <button @click="addNumber(number)" >{{ text }} {{ number }}</button>
</template>

<script>
export default {
  name: 'ButtonAdd',
  props: {
    number: {
      type: Number,
      required: true
    },
    text: {
      type: String,
      required: false,
      default: 'add'
    }
  },
  methods: {
    addNumber (number) {
      this.$emit('AddNumber', number)
    },
  }
}
</script>