<template>
  <h1>{{ title }}</h1>

</template>

<script>
export default {
  name: 'TitleClick',
  props: {
    title: {
      type: String,
      required: false,
      default: 'title'
    }
  }
}
</script>

<style scoped>
h1 {
  color: red;
}
</style>