<template>
  <router-link :to="`news/${newsInfo.id}`" class="news-item">
    <img class="news-item__img" :src="newsInfo.image" alt="">
    <p class="news-item__title">{{ newsInfo.title }}</p>
  </router-link>
</template>

<script>
export default {
  name: 'News',
  props: {
    newsInfo: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
.news-item{
  width: 10vw;
  text-decoration: none;
  &__img {
    width: 100%;
    margin-bottom: 1vw;
  }
  &__title {
    font-size: 1vw;
    font-weight: 600;
    color: black;
  }

}
</style>