<template>
  <div id="app">
      <nav class="nav">
        <router-link class="nav__link" to="/list">List</router-link>
        <router-link class="nav__link" to="/">Home</router-link>
        <router-link class="nav__link" to="/todo">Todo</router-link>
        <router-link class="nav__link" to="/news">News</router-link>
      </nav>
      <router-view/>
  </div>
</template>

<style lang="scss" scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  &__link {
    margin-right: 20px;
  }
}
.router-link-exact-active {
  color: red;
}
</style>
